body{ background: black;}
.container{
  position: relative;
  width: 50%;
  height: 15vh;
  overflow: hidden;
}
#back-video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  opacity: 0;
  transition: opacity 4s ease;
  border-radius: 8px;
}
button {
  width: 100%;
  height: 15vh;
  position:relative;
  z-index: 2;
  background-color: white;
  border-radius: 8px;
  border: none;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 30px;
  transition: background-color 0.7s ease;
}
.container:hover #back-video {
  opacity: 0.7;
}
button:hover{
  opacity: 0.1;
  background-color: rgba(255, 255, 255, 0.5)
}
